# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# Environment variables
.env

# ChromaDB
data/chroma_db/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Distribution
dist/
build/
*.egg-info/

#Docs
DEPLOYMENT.md
EMAIL_PROCESSING_GUIDE.md
FRONTEND_DEPLOYMENT.md
SETUP_INSTRUCTIONS.md
RAILWAY_DEPLOYMENT.md

widget.html